.color1, .color2, .color3 {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.color1 {
    background-color: greenyellow;
}

.color2 {
    background-color: green;
}

.color3 {
    background-color: rgb(30, 109, 236);
}

.color4, .color5 {
    height: 200px;
    width: 900px;
    display: inline-block;
}

.color4, .color6 {
    background-color: rgb(0, 117, 128);
}

.color5, .color7 {
    background-color: rgb(0, 23, 128);
}

.color6, .color7 {
    height: 200px;
    width: 700px;
    display: inline-block;
    position: relative;
}

.line-three {
    margin-left: 200px;
}

.box1, .box2 {
    background-color: rgb(211, 22, 63);
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.box2 {
    right: 0;
}